$primary-color: #f6a20c;
$sub-primary-color: #004058;

.articles_main {
    max-width: 1200px;
    margin: 0 auto;
}

.article_highlight {
    margin-bottom: 4rem;
    display: grid;
    height: 480px;
    grid-template-columns: 2fr 1fr;

    .article_highlight_ctn {
        margin-left: 2rem;
        height: 50%;

    }
    .article_highlight_title {
        // margin: 1.5rem 0;
        text-transform: uppercase;
        margin: 0.8rem 0 0.5rem 0;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        // line-height: 16px;
        max-height: 50px;    
        transition: 0.25s;

        -webkit-line-clamp: 2; 
        -webkit-box-orient: vertical;
        cursor: pointer;
        
        &:hover {
            transition: 0.25 all;
            color: $primary-color;
        }

    }
    .article_highlight_content {
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 1rem 0;
        display: -webkit-box;
        // line-height: 16px;
        max-height: 100px;    
        -webkit-line-clamp: 4; 
        -webkit-box-orient: vertical;
    }
    .article_highlight_banner {
        background-repeat: no-repeat;
        background-size: cover;
        width: 787px;
        height: 480px;
        border-radius: 0.5rem;
    }
}


.articles_rest {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0.5rem 2rem;
    
    .article_container {
        // width: 400px;
        height: 572px;
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
        overflow: hidden;

        .title_content_ctn {
            // background-color: pink;
            display: flex;
            height: 30%;
            flex-direction: column;
            justify-content: space-between;
        }
        .article_date {
            margin-top: 0.5rem;
            font-size: 0.8rem;
            color: #333;
        }

        .article_title {
            margin: 0.06rem 0 0.5rem 0;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            // line-height: 16px;
            max-height: 50px;    
            -webkit-line-clamp: 2; 
            -webkit-box-orient: vertical;
            cursor: pointer;
            transition: 0.25s;
            &:hover {
                color: $primary-color;
            }
        }

        .article_content {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            // line-height: 16px;
            max-height: 100px;    
            -webkit-line-clamp: 4; 
            -webkit-box-orient: vertical;
        }

        .article_banner {
            height: 50%;
            border-radius: 0.5rem;
            background-repeat: no-repeat;
            background-size: cover;
        }

    }
}

@media only screen and (max-width: 1200px) {
    .articles_main {
        max-width: 100vw;
        margin: 0 1.5rem auto ;
    }
    // .article_highlight_ctn {
    //     margin-left: 1rem;
    //     height: 50%;
    // }
    .article_highlight_banner {
        width: 62vw !important;
    }
    
}

@media only screen and (max-width: 800px) {

    .article_highlight {
        grid-template-columns: 1fr 1fr;
        height: 400px !important;
        overflow: hidden;
        .article_highlight_banner {
            height: 100%;
        }
    }


    .article_highlight_ctn {
        margin-left: 2rem;
        // background-color: blue;

    }
    .articles_rest {
        grid-template-columns: 1fr 1fr;
    }
  }



  @media only screen and (max-width: 542px) {

    .articles_rest {
        grid-template-columns: 1fr;
    }
  }



  @media only screen and (max-width: 376px) {


    .articles_main {
        margin: 0 0.7rem auto;
        max-width: 100vw;
        overflow: hidden;
    }
    
    .article_highlight {
        grid-template-columns: 1fr;
        height: 570px;
        // background-color: pink;
        .article_highlight_banner {
            width: 100vw !important;
            background-size: cover;
            height: 300px;
        }
        .article_highlight_ctn {
            margin-left: 0rem;
            height: 50%;
            .readmore_button {
                font-size: 1.2rem;
                // background-color: red;
            }
        }
        .article_highlight_ctn {
            // margin-left: -5rem;
            height: 50%;
        }
    }
    .articles_rest {
        grid-template-columns: 1fr;
    }
}  